html,
body {
  font-size: 16px;
}

@font-face {
  font-family: 'MontHeavy'; // El nombre de la fuente que deseas usar
  src: url('../../public/fonts/MontHeavy.otf') format('opentype'); // Ruta de la fuente OTF
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'MontRegular'; // El nombre de la fuente que deseas usar
  src: url('../../public/fonts/MontLight.otf') format('opentype'); // Ruta de la fuente OTF
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontHeavy'; // El nombre de la fuente que deseas usar
  src: url('../../public/fonts/MontHeavy.otf') format('opentype'); // Ruta de la fuente OTF
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MontSemiBold'; // El nombre de la fuente que deseas usar
  src: url('../../public/fonts/MontSemiBold.otf') format('opentype'); // Ruta de la fuente OTF
  font-style: normal;
}

// Define una variable para la fuente
$MontRegular: 'MontRegular', sans-serif;
$MontHeavy: 'MontHeavy', sans-serif;
$MontSemiBold: 'MontSemiBold', sans-serif;

// Aplica la fuente a elementos específicos o a todo el documento
* {
  font-family: $MontRegular;
  font-weight: 600 !important;
}

.font-semibold {
  font-family: $MontSemiBold;
  font-weight: 800 !important;
}

.btn {
  font-weight: 800 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
.card-title,
.font-bold,
.tarjeta-tarifa-item-service {
  font-family: $MontHeavy !important;
  font-weight: 800 !important;
}

/* Colors */
$colorPrimary : #19467c;
$colorSecundary: #79cfe2;
$contrast: #252625;
$white: #ffffff;
$black: #000000;

.color{
  &-primary{
    color: $colorPrimary;
  }
}

/* media */
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media==xs {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  }

  @else if $media==sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  }

  @else if $media==md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      @content;
    }
  }

  @else if $media==lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}

.navbar-brand {
  padding: 0px;
}

/* container */
.container {
  &-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    a {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $black;
    }
  }

  &-tarjeta {
    background-image: url('../../public/img/backgroud-container-card.png');
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position-x: center;

    &-blog {
      background-image: url('../../public/img/backgroud-container-blog.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

    }
  }

  &-header {
    background-color: white !important;
    font-weight: 600;

    @include media(lg) {
      height: 100px;
    }

    img {
      width: 138px;
    }
  }

}

.text {
  &-title {
    font-weight: 800;
    color: $colorPrimary;
    line-height: normal;
    font-size: 2rem;
    margin-top: 40px;
  }
}

.btn {
  border: none;
  padding-top: 10px;
  border-radius: 0px;
  height: 40px;
  font-family: $MontHeavy;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  @include media(xs) {
    width: 100% !important;
  }

  &:disabled {
    background-color: gray;
  }

  &-primary {
    background-color: $colorPrimary;
    color: $white;
    padding: 0px auto;

    img {
      height: 24px;
      width: 24px;
    }

    &-small {
      max-width: 40px !important;
      float: right;
      text-align: center;
      margin

      img {
        width: 15px;
        width: auto;
      }
    }
  }

  &-success {
    background-color: green;
    color: $white;
  }
}

.tarjeta {
  border-radius: 0px;
  background-color: $white;

  &-footer{
    &-small{
      font-size: 0.65rem;
    }
  }
  &-lead {
    border-radius: 0px;

    .card-header {
      border-radius: 0px;
      background-color: $colorPrimary;
      color: $white;
      //font-family: Mont;
      font-size: 1.5rem;
      padding-top: 15px;
      height: 60px;
      font-weight: 800;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;

    }

  }

  &-tarifa {
    padding: 10px 15px 20px;
    fill: #FFF;
    stroke-width: 0.8px;
    stroke: #8E8E8E;

    &-item {
      &-descripcion {
        border-radius: 13px;
        border: 1px solid $black;
        width: fit-content;
        padding: 2px 10px;
        text-align: left;
        font-size: 0.9rem;
      }

      &-lead {
        border-bottom: 1px solid black;
        margin: 20px auto;
      }

      &-service {
        background: #F1F1F1;
        width: 100%;
        height: 195px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        @include media(xs) {
          height: 100px;
          margin-bottom: 15px;
        }
        &-small{
          height: 95px;
        }
      }

      &-title {
        border-bottom: 1px solid #E9E9E9;
        margin-bottom: 15px;

        img {
          height: 45px !important;
        }

        @include media(xs) {
          margin-bottom: 5px;
        }
      }
    }
  }


  .info-card {
    color: $white;
    position: absolute;
    bottom: 35px;
    text-shadow: 0px 0px 7px $black;

    a {
      text-decoration: underline;
      color: $white;
      text-shadow: 0px 0px 3px $black;
    }
  }

  .card-img,
  .card-img-top {
    border-radius: 0px;
  }

  &-producto {
    border: none;
    box-shadow: 0px 0px 5px lightgray;
    text-align: center;
    text-align: -webkit-center !important;
    padding: 10px 15px 20px;
    width: 250px;
    margin: 0 auto;

    .card {
      &-title {
        color: $colorPrimary;
        font-weight: 600;
        font-size: 1rem;
      }

      &-body {
        ul {
          list-style-type: none;
          padding: 0px;
          height: 90px;

          li {
            text-align: center;
            //font-family: Mont;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 5px;
          }
        }
      }

      &-icon {
        background-color: rgba(121, 207, 226, 0.19);
        margin: 0 auto;
        margin-top: 40px;
        width: 60px;
        height: 60px;
      }
    }
  }
}

footer {

  .footer {
    &-img {
      &-mobile {
        height: 34px;
        width: 124px;
        text-align: center;
      }
    }

    &-copyright {
      font-size: 0.7rem;
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }

  p {
    text-align: center;
    margin: 0;
    padding: 20px 0px;
  }

  ul {
    list-style: none;
    margin-left: -30px;
    color: $white;
  }

  h5 {
    color: $white;
  }

}

.card {
  &-img {
    &-overlay {
      h1 {
        position: relative;
        bottom: 10px;
      }
    }
  }
}

.form {
  &-check {
    margin-top: 20px;

    &-label {
      color: #000;
      //font-family: Mont;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &-dark {
      .form-check-input {
        background-color: $black !important;
        border: 1px solid $black !important;

        &:checked {
          background-color: $black !important;
          border: 1px solid $black !important;
        }
      }
    }
  }

  &-input {
    border-radius: 0px;
  }
}

.input {
  &-check {
    &-label {
      color: #000;
      //font-family: Mont;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &-dark {
      .form-check-input {
        border: 1px solid $black !important;

        &:checked {
          background-color: $black !important;
          border: 1px solid $black !important;
        }

        &:focus {
          box-shadow: 0px 0px 3px $black;
        }
      }
    }
  }
}

.link {
  &-politicy {
    color: $black;
    //font-family: Mont;
    margin-top: 10px;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: right;
  }
}

.interSeccion {
  height: 100px !important;

  @include media(xs) {
    height: 40px !important;
  }
}


.breadcrumb {
  &-item {
    a {
      color: $black;
      text-decoration: none;
    }
  }
}

.filtro {
  &-producto {
    &-logo {
      cursor: pointer;
      border: 0.8px solid #8E8E8E;
      background: #FFF;
      padding: 5px 10px;
      text-align: center;
      filter: grayscale(1);
      height: 40px;
      width: auto;
      overflow: hidden;

      &:hover {
        filter: grayscale(0);
      }

      img {
        width: 70px;
      }

    }
  }
}

.rc-slider {
  &-handle {
    border: 2px solid black !important;
    background-color: black !important;
  }

  &-track {
    background-color: black !important;
  }
}


.text {
  &-left {
    text-align: left;
  }
}


.pruebaPos {
  @include media(md) {
    //max-height: 1200px;
    //overflow: scroll;
  }
}

.pruebaBtn {
  filter: blur(0px);
}

.acordion {
  &-icon {
    &-title {
      margin-right: 10px;
    }
  }
}

.carrusel {
  &-img {}

  &-caption {
    text-shadow: 0px 0px 5px $black;

    a {
      color: $white;
    }
  }
}

.carousel {
  &-indicators {
    bottom: -70px;

    [data-bs-target] {
      background-color: #19467C;
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }

}

.text {
  &-promotion {
    @include media(xs) {
      margin-top: 0px;
    }
  }
}

.align-middle {
  vertical-align: middle !important;
}

.border {
  &-bottom {
    border-bottom: 1px solid $black;
  }
}

.text {
  &-primary {
    color: $colorPrimary !important;
  }
}

.input-group-text {
  background-color: white;
  border-radius: 0px !important;
}

.no-radius {
  border-radius: 0px;
}

.dropdown {
  &-menu {
    border-top: 5px solid $black;
    border-radius: 0px;
  }

  &-item {
    margin: 10px 0px;
  }
}

.dropdown-toggle::after {
  display: none;
}

.subtitle {
  font-size: 1.1rem;
}

.br-black{
  border-right: 2px solid black ;
}

.bg{
  &-primary{
    background-color: $colorPrimary !important;
  }
}

.vertical{
  &-items{
    div{
      font-size: 0.8rem;
    }
  }
}

.capitalize{
  text-transform: capitalize;
}